# Markdown
## Markdown
## Markdown

# insert site address
[site](http://ct3.gitam.edu/)

# insert image
![text]()

# Python Basics
python is a beginners language


python is easy to learn

# Creating ordered list
1. abs
2. hsdf

     1.a
     2.b

## BOLD and italic text
**gitam**

*gitam*

In [2]:
# basic hello
print("hello world!!")

hello world!!

In [3]:
#variable creation
x=1
y=2
x+y

3

# Rules for variable 
-name should begin with a character

-no special character allowed_

In [6]:
name="aishwarya"
age="19"
print("my name is:",name,"  age is:",age)

my name is: aishwarya   age is: 19

In [8]:
name=input("enter name:")

age=int(input("enter age:"))
print("my name is:",name,"age is:",age)

enter name:aishwarya
enter age:19
my name is: aishwarya age is: 19

In [11]:
x=int(input("enter a number"))
y=int(input("enter another number"))
print("addition:",x+y)
print("substraction:",x-y)
print("multiplicatin:",x*y)
print("division:",x/y)
print("remainder:",x%y)

enter a number10
enter another number2
addition: 12
substraction: 8
multiplicatin: 20
division: 5.0
remainder: 0

# fundamental data types:
-int

-float

-complex

-boolean

-string

In [15]:
x=10
y=17.2
z=2+3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [13]:
c=complex(1,7)
print(c)

(1+7j)

In [16]:
c1=2+3j
c2=1+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+10j)
(1-4j)
(-19+17j)

In [17]:
a=True
b=False
a<b

False

In [19]:
#boolean
x=6
y=7
x<y

True

In [20]:
#string
s1="abc"
s2="def"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [21]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [22]:
#length 
a=1234
s1=str(a)
print(len(s1))

4

In [23]:
n1=100
a=b=c=20
a1,b1,c1=123,124,125
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 124 125

# precedence of Arth operators
-paranthesis

-power

-multiplication

-addition

In [25]:
x=1+2**3/4+5
print(x)

8.0

In [27]:
x=1+2**3/4*5
print(x)

11.0

# operators
### arithmetic operators
- +

- -

- *

- /

- %

- **

- //

In [32]:
x=10
y=5
print("add:",x+y)
print("sub:",x-y)
print("mul:",x*y)
print("division:",x/y)
print("remaindr:",x%y)
print("power:",x**y)
print("quotient:",x//y)

add: 15
sub: 5
mul: 50
division: 2.0
remaindr: 0
power: 100000
quotient: 2

##### relational operators
==,!=,<,>,<=,>=

In [33]:
x=5
a=x>10
print(a)

False

# logical opertors
-and

-or

-not

In [37]:
a=100
a1=(i>15)and(i>76)
a2=(i>567)or(i>3456)
print(a1)
print(a2)
print(not i)

True
False
False

# Membership operator
- in

- not in

In [40]:
str1="abc"
print('a' in str1)
print('a' not in str1)

True
False

# control flow statements
- conditional statements

-looping statements

-if-else statement
      -syntax
   #### if condition:
              statement<str>
              
   ### else 
              
              statement

In [41]:
# check given number is even or odd
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number10
even

In [48]:
# check given number is a multiple of  3 and 5
n=int(input("enter a number"))
if( n%3==0)and(n%5==0):
   print("yes")
else:
   print("no")

enter a number15
yes

In [50]:
#check given number is +ve ,-ve or 0
n=int(input("enter a number"))
if(0<n):
    print("positive number")
elif(0>n):
    print("negative number")
else:
    print("0")

enter a number1
positive number

In [1]:
#check whether the given year is leap year or not
n=int(input("enter a number"))
if n%4==0 and n%100!=0 or n%400==0:
    print("yes")
else:
    print("no")

enter a number2020
yes