# Collection of data structures types
- list
- tuple
- set
- dictionary

# list:
- one of the data structures in python
- data structure means to store,sort and search options
- it's one common data structure in python,the items of list seperated by coma and enclosed by square brackets
#### example
- list1=[1,2,3,4]
- list2==["gitam",1,2,3]

In [6]:
li=[1,2,3,4,5]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 2, 3, 4, 5]
3
3
[3, 4, 5]
[3, 4]
[3, 4]

In [9]:
li=["gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['gitam', 1234, 1235, 1236, 'Hyd']
t

In [10]:
del li[3]
print(li)

['gitam', 1234, 1235, 'Hyd']

In [11]:
# update
li[1]=123
print(li)

['gitam', 123, 1235, 'Hyd']

In [22]:
# basic list functions
li=[1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [36]:
li=[1,9,116,25,5,9]
#li.append(89)
#li.insert(2,56)
#li
#li.count(9)
li.index(5)

4

In [38]:
li=[1,9,116,25,5]
li.sort()
li

[1, 5, 9, 25, 116]

In [40]:
li=[1,9,116,25,5]
li.pop(3)
li

[1, 9, 116, 5]

## del-delete the list item from the list
## pop-remove last index value
## pop(index)-removes the items from the specified index

In [2]:
li=[1,9,116,25,5,9]
li1=[76,78,79]
li.extend(li1)
li.reverse()
li

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [3]:
# fuction to return largest number from given list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,45,76]
print(largenumber(li))
print(genericlarge(li,3))

76
25

In [5]:
# smallest
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,25,45,76]
print(smallnumber(li))
print(genericsmall(li,1))

1
19

# Tuple
- It is one common data structure in python,the items of tuple seperated by comma and enclosed by paranthesis()
## example
- ti=(1,2,3,4)

# list and tuple
- In list are multable-can be changed/modified
- list used to modify,add,delete,update
- tuple are immutable-cannot be changed
- tuple used access data only

In [6]:
t1=(1,2,3,4,54)
t1

(1, 2, 3, 4, 54)

# Dictionaries
- It works on concept of set unique data
- dictionary contains keys and values
- Each key and value seperated by comma
- Each key is seperated from its value with colon(:)

In [16]:
d1  ={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [17]:
d1["name"]

'gitam'

In [18]:
d1  ={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1['name']='aishwarya'
d1

{'name': 'aishwarya', 'email': 'gitam@in', 'address': 'hyderabad'}

In [19]:
d1['rollno']="221710313017"
d1

{'name': 'aishwarya',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'rollno': '221710313017'}

In [20]:
del d1['email']
d1

{'name': 'aishwarya', 'address': 'hyderabad', 'rollno': '221710313017'}

In [21]:
d1.keys()

dict_keys(['name', 'address', 'rollno'])

In [22]:
d1.values()

dict_values(['aishwarya', 'hyderabad', '221710313017'])

In [23]:
d1.items()
d1

{'name': 'aishwarya', 'address': 'hyderabad', 'rollno': '221710313017'}

In [24]:
d1.items()

dict_items([('name', 'aishwarya'), ('address', 'hyderabad'), ('rollno', '221710313017')])

# string:

In [26]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [33]:
s1="python"
print(s1[0])
print(len(s1)-2)
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::2])
print(s1[::-1])
print(s1[::1])

p
4
o
ytho
h
pto
nohtyp
python

# string built in methods:
- upper
- lower
- isupper
- islower
- istittle
- isnumeric
- isalpha
- isspace

In [40]:
s1='Python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [41]:
s1="pyt djkds jsdhc"
print(s1.isspace())

False

In [43]:
s1=" "
print(s1.isspace())

True

# string methods
- join()
- split()
- replace()

In [44]:
s1="Python"
print(" ".join(s1))

P y t h o n

In [45]:
s1="python programming easy to learn"
print(s1.split())

['python', 'programming', 'easy', 'to', 'learn']

In [46]:
s1="python programming easy to learn"
print(s1.replace("ing",'gitam'))

python programmgitam easy to learn